In [6]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
df_train = pd.read_csv('train.csv')

In [8]:
df_train = df_train.drop(['PassengerId','Name','Ticket'],axis=1)

In [9]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [10]:
df_X_train = df_train.iloc[:,1:]
y_train = df_train['Survived']

In [13]:
df_X_train.shape

(891, 8)

In [12]:
y_train.shape

(891,)

In [14]:
df_test = pd.read_csv('test.csv')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [15]:
df_test = df_test.drop(['PassengerId','Name','Ticket'],axis=1)

In [16]:
df_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  34.5      0      0   7.8292   NaN        Q
1       3  female  47.0      1      0   7.0000   NaN        S
2       2    male  62.0      0      0   9.6875   NaN        Q
3       3    male  27.0      0      0   8.6625   NaN        S
4       3  female  22.0      1      1  12.2875   NaN        S

In [17]:
df = pd.concat([df_X_train ,df_test],ignore_index=True)

In [18]:
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [19]:
df.shape

(1309, 8)

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr())

In [ ]:
#sns.histplot(x='Age',data=df)
#sns.countplot(x='Age',data=df)
#sns.ecdfplot(x='Age',data=df)
#sns.kdeplot(x='Age',data=df)
#sns.displot(x='Age',data=df,kind='kde')
sns.displot(x='Age',data=df,kde=True)

In [ ]:
sns.distplot(df['Fare'],bins=100)

In [ ]:
sns.displot(x='Fare',data=df ,kde=True)

In [ ]:
sns.countplot('Pclass',data=df)

In [ ]:
sns.catplot(x='Pclass',col='Survived',data=df, kind='count')

In [ ]:
sns.catplot(x='Sex',col='Survived',kind='count',data=df)

In [ ]:
df.columns

In [ ]:
sns.catplot(x='SibSp',col='Survived',kind='count',data=df)

In [ ]:
sns.catplot(x='Embarked',col='Survived',kind='count',data=df)

In [ ]:
df.isnull().sum()

## Feature Engineering - Filling NaN values

In [ ]:
df['Embarked'].value_counts()

In [ ]:
df['Embarked'] = df.Embarked.fillna(df['Embarked'].value_counts().index[0])

In [ ]:
df['Embarked'].isnull().sum()

In [ ]:
df['Age'] = df.Age.fillna(df.Age.median())

In [ ]:
sns.displot(x='Age',data=df,kde=True)

In [ ]:
df.Age.isnull().sum()

In [ ]:
df['Cabin'] = df.Cabin.fillna('Missing')

In [ ]:
df['Cabin'] = df.Cabin.astype(str).str[0]

In [ ]:
df.Cabin.value_counts()

In [ ]:
df['Cabin'] = df['Cabin'].replace(['M'],df.Cabin.value_counts().index[1])

In [ ]:
df.Cabin.value_counts()

In [ ]:
#df.drop(df[df.Cabin == 'T'].index,inplace=True)

In [ ]:
df.Cabin.value_counts()

In [ ]:
sns.catplot(x='Cabin',col='Survived',kind='count',data=df)

In [ ]:
sns.displot(data=df,x='Cabin',kde=True)

In [ ]:
df.info()

## for test data

In [ ]:

df_test.head()

In [ ]:
df_test['Embarked'] = df_test.Embarked.fillna(df_test['Embarked'].value_counts().index[0])

In [ ]:
df_test['Embarked'].isnull().sum()

In [ ]:
df_test['Age'] = df_test.Age.fillna(df_test.Age.median())

In [ ]:
df_test.Age.isnull().sum()

In [ ]:
df_test['Cabin'] = df_test.Cabin.fillna('Missing')

In [ ]:
df_test['Cabin'] = df_test.Cabin.astype(str).str[0]

In [ ]:
df_test.Cabin.value_counts()

In [ ]:
df_test['Cabin'] = df_test['Cabin'].replace(['M'],df_test.Cabin.value_counts().index[1])

In [ ]:
df_test.Cabin.isnull().sum()

In [ ]:
df_cabin_dummies = pd.get_dummies(df['Cabin'],drop_first=True)
df_sex_dummies = pd.get_dummies(df['Sex'],drop_first=True)
df_embarked_dummies = pd.get_dummies(df['Embarked'],drop_first=True)

df = pd.concat([df,df_cabin_dummies,df_sex_dummies,df_embarked_dummies],axis=1)

df = df.drop(['Name','Sex','Cabin','Embarked','PassengerId','Ticket'],axis=1)

## to csv
df.to_csv('cleaned_train')

In [ ]:
df_test_cabin_dummies = pd.get_dummies(df_test['Cabin'],drop_first=True)
df_test_sex_dummies = pd.get_dummies(df_test['Sex'],drop_first=True)
df_test_embarked_dummies = pd.get_dummies(df_test['Embarked'],drop_first=True)

In [ ]:
df_test = pd.concat([df_test,df_test_cabin_dummies,df_test_sex_dummies,df_test_embarked_dummies],axis=1)

In [ ]:
df_test = df_test.drop(['Name','Sex','Cabin','Embarked','PassengerId','Ticket'],axis=1)

In [ ]:
df_test.head()

In [ ]:
df_test.to_csv('cleaned_test')

In [ ]:
df_test.isnull().sum()

## concating the Train and Test data frame in one dataframe

In [ ]:
df_main = pd.concat([df,df_test])

In [ ]:
df.shape

In [ ]:
df_test.shape

In [ ]:
df_main.shape

In [ ]:
df_main.drop_duplicates(inplace=True)

In [ ]:
df_main.shape

In [ ]:
## main train test cleaned csv
df_main.to_csv('train_test.csv')

In [ ]:
df_main.head()

In [ ]:
df_main.isnull().sum()

## independent and dependent feature

In [ ]:
X = df_main.iloc[:,1:]
X.head()

In [ ]:
y = df_main['Survived']
y.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train ,X_test ,y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
X_train.isnull().sum()

In [ ]:
X_test.isnull().sum()

## Hpyerparameter tunning for model
### models we can use
1. LogisticRegression
2. XgBoost   ---------------> need tuning
3. RandomForest ------------> need tuning
4. DecisonTree -------------> need tuning
5. KNN
6. Gaussion Navie Bayes ----> need tuning
7. SVM ---------------------> need tuning

### LogisticRegression Classifier

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)

In [ ]:
clf_lr = RandomizedSearchCV()